[package]
name = "example"
version = "0.6.12"
edition = "2021"

[dependencies]
winit = "0.29.10"
wgpu = "0.19.0"
futures = "0.3"
bytemuck = { version = "1.13", features = ["derive"] }
encase = { version = "0.7.0", features = ["glam"] }
glam = { version = "0.25.0", features = ["bytemuck"] }
naga_oil = "0.13.0"

[build-dependencies]
wgsl_bindgen = { path = "../wgsl_bindgen" }
miette = { version = "7.0.0", features = ["fancy", "syntect"] }
